
    ion-list{
        margin-top: 26px;
        ion-item{

            ion-label{
               h3{
                   font-size: 16px
               }

            }
        }
    }

    .no-note{
        margin-top: 40%
    }
